.footer{
    background: #1E293B;
    display: flex;
justify-content: center;
padding: 10px;
gap: 30px;
    
}
.footertxt{
   
    color: white;
    text-decoration: none;

    
}
.footertxt:hover{
    color: cyan;
}

.social-icons{

    display: flex;
    gap: 35px;
    
}
.sicon{
    color:white
}
.sicon:hover{
    transform: translateY(-5px) !important;
    transition: all 0.3s ease-in-out;
    color:cyan;

}