@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  scroll-behavior: smooth;
}
html{
  overflow-x: hidden;
}